/*
	Paginator 3000
	- idea by ecto (ecto.ru)
	- coded by karaboz (karaboz.ru)

	HTML example
	<div class="paginator" id="paginator_example">
		<table>
			<tr>
				<td><span><strong>1</strong></span></td>
				...
				<td><span><a href="">3000</a></span></td>
			</tr>
			<tr>
				<td colspan="">
					<div class="scroll_bar">
						<div class="scroll_trough"></div>
						<div class="scroll_thumb">
							<div class="scroll_knob"></div>
						</div>
						<div class="current_page_mark"></div>
					</div>				
				</td>

			</tr>
		</table>
	</div>
*/
.paginator {
	margin-top:11px;
	font-size:11px;
	color:rgb(150, 150, 150);
	line-height:11px;
}
.paginator a{
	color:rgb(150, 150, 150);
}
.paginator table {
	border-collapse:collapse;
	table-layout:fixed;
	width:100%;
}
.paginator table td {
	padding:0;
	height:20px;
	white-space:nowrap;
	text-align:left;
}
.paginator span {
	display:block;
	padding:3px 0;
	color:#fff;
}
.paginator span strong,
.paginator span a {
	padding:2px 0px;
}
.paginator span strong {
	font-weight:900; 
	font-size:13px;
	color:rgb(35, 35, 35);
}
.paginator .scroll_bar {
	width:100%;	height:20px;
	position:relative;
	margin-top:10px; 
}
.paginator .scroll_trough {
	width:100%;	height:3px;
	background-image:url(../images/controls-light/bg-paginator.gif);
	overflow:hidden;
}
.paginator .scroll_thumb {
	position:absolute;
	z-index:2;
	width:0; height:3px;
	top:0; left:0;
	font-size:1px;
	background-image:url(../images/controls-light/bg-paginator-scroll-thumb.gif);
}
.paginator .scroll_knob {
	position:absolute;
	top:-5px; left:50%;
	margin-left:-14px;
	width:28px; height:28px;
	overflow:hidden;
	cursor:pointer; cursor:hand;
	background:url(../images/controls-light/slider_knob.gif) no-repeat 50% 50%;
}
.paginator .current_page_mark {
	position:absolute;
	z-index:1;
	top:0; left:0;
	width:0; height:3px;
	overflow:hidden;
	background:rgb(100, 0, 100);
}

.fullsize .scroll_thumb {
	display:none;
}