<IfModule mod_rewrite.c>
    Options -MultiViews

    RewriteEngine On
    #RewriteBase /path/to/app
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

</IfModule>


# nginx
#
#location / {
#         root   /var/www/host/htdocs;
#         index  index.php;
#         if (!-e $request_filename) {
#             rewrite ^(.*) /index.php last;
#         }
# }
#
