<p class="header-right-block"><span>Hayley Williams</span></p>
<p id="name-album-in-right-block"><span>What the hell</span></p>
<div id="album-cover">
    <div id="highlight"></div>
</div>
<p class="header-right-block"><span>Хиты исполнителя</span></p>
<p class="artist-s-best-song"><span>Like a Prayer</span></p>
<p class="artist-s-best-song"><span>Girl Gone Wild</span></p>
<p class="artist-s-best-song"><span>Hung Up</span></p>
<p class="artist-s-best-song"><span>Frozen</span></p>
<p class="artist-s-best-song"><span>Give Me All Your Luvin'</span></p>