<div id="top100" class="unselected-categories">
    <div class="border-radius-top-left"></div>
    <div class="border-radius-top-right"></div>
    <div class="border-radius-bottom-left"></div>
    <div class="border-radius-bottom-right"></div>
    <p>ТОП 100 ПЕСЕН</p>
</div>
<div id="top-genre" class="unselected-categories">
    <p>ТОП 10 ЖАНРОВ</p>
    <div class="border-radius-top-left"></div>
    <div class="border-radius-top-right"></div>
    <div class="border-radius-bottom-left"></div>
    <div class="border-radius-bottom-right"></div>
</div>
<div id="radio" class="unselected-categories">
    <p>РАДИО</p>
    <div class="border-radius-top-left"></div>
    <div class="border-radius-top-right"></div>
    <div class="border-radius-bottom-left"></div>
    <div class="border-radius-bottom-right"></div>
</div>