<div class="pl_header"><h1>Классика 90-х</h1></div>
<div class="wrapper-for-drop-menu">
    <div id="wrapper-list1">
        <div id="wrapper-drop-menu1">
            <p id="rename-playlist">Переименовать</p>
            <p id="del-playlist">Удалить</p>
            <p id="get-link-playlist">Получить ссылку</p>
        </div>
        <p>Опции плейлиста</p>
    </div>
    <div id="wrapper-list2">
        <div id="wrapper-drop-menu2">
            <p id="sort-playlist-header">По заголовку</p>
            <p id="sort-playlist-lenght">По длительности</p>
            <p id="sort-playlist-artist">По исполнителю</p>
        </div>
        <p>Отсортировать</p>
    </div>
</div>
<div id="{{ playlistid }}" class="pl">


</div>