<div id="footer">
    <div class="min-max-div-footer">
        <table class="wrapper-table-footer" cellpadding="0" cellspacing="0" border="0">
            <tr>
                <td class="p2"></td>
                <td>
                    <table class="wrapper-table2-footer" cellpadding="0" cellspacing="0" border="0">
                        <tr>
                            <td class="p43">
                                <p><span><a href="http://akmain.org/">akmain.org</a></span><span>2012 год</span>Пишите на <a href="mailto:mail@akmain.org">mail@akmain.org</a></p>
                            </td>
                            <td class="p7">
                            </td>
                            <td class="p43">
                                <h2>слушать музыку бесплатно<h2>

                                Начните слушать музыку бесплатно и без регистрации прямо сейчас. Просто найдите нужного
                                вам исполнителя, и нажмите кнопку "слушать музыку".
                                <h2>слушать музыку онлайн</h2>

                                Так создайте свой плейлист и слушать музыку из нового плейлиста. Добавить все песни в
                                плейлист из поиска можно одной кнопкой, и слушайть музыку будет проще. Слушайте музыку
                                онлайн в любом месте. Ваши плейлисты всегда с вами.
                                <h2>mp3 бесплатно, mp3 скачать</h2>

                                Вы сможите прямо сейчас скачать mp3 бесплатно без регистрации.  А так же скачать
                                бесплатно mp3 без регистрации можно одним кликом. Вся музыка хранится в формате mp3.
                                Это бесплатный формат хранения музыки. Скачать бесплатно mp3 еще никогда не было так просто.
                                <h2>Музыка бесплатно</h2>

                                Музыка бесплатно будет доступна человечеству. Это результат творчества
                                homosapiensa и должен принадлежать человечеству. Музыка бесплатно будет на нашем сайте
                                пока государство или иной орган не воспрепятствует этому.
                            </td>
                            <td class="p7">
                            </td>
                        </tr>
                    </table>
                </td>
                <td class="px216">
                    <p>Пользовательское соглашение</p>
                </td>
                <td class="p2"></td>
            </tr>
        </table>
    </div>
</div>