<div id="footer">
    <div class="min-max-div-footer">
        <table class="wrapper-table-footer" cellpadding="0" cellspacing="0" border="0">
            <tr>
                <td class="p2"></td>
                <td>
                    <table class="wrapper-table2-footer" cellpadding="0" cellspacing="0" border="0">
                        <tr>
                            <td class="p43">
                                <p><span><a href="http://akmain.org/">akmain.org</a></span><span>2012 год</span>Пишите на <a href="mailto:mail@akmain.org">mail@akmain.org</a></p>
                            </td>
                            <td class="p7">
                            </td>
                            <td class="p43">
                                <h2>слушать mp3 бесплатно, mp3 в браузере, слушать mp3 онлайн, mp3 онлайн слушать, mp3 скачать бесплатно</h2>
                            </td>
                            <td class="p7">
                            </td>
                        </tr>
                    </table>
                </td>
                <td class="px216">
                    <p>Пользовательское соглашение</p>
                </td>
                <td class="p2"></td>
            </tr>
        </table>
    </div>
</div>