    <title>{{ title }}</title>
    <link href="images/controls-light/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" content="{{ title }}">
    <meta name="keywords" content="слушать mp3 бесплатно, mp3 в браузере, слушать mp3 онлайн, mp3 онлайн слушать, mp3 скачать бесплатно">
    <link href="css/style.css" type="text/css" rel="stylesheet">
    <link href="css/jquery-ui-1.8.22.custom.css" type="text/css" rel="stylesheet">
    <link href="css/light.css" type="text/css" rel="stylesheet">
    <link href="css/paginator3000.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/jquery-ui.js"></script>
    <script type="text/javascript" src="js/jquery.jplayer.min.js"></script>
    <script type="text/javascript" src="js/jquery.cookie.js"></script>
    <script type="text/javascript" src="js/css-helper.js"></script>
    <script type="text/javascript" src="js/gradienttext.js"></script>
    <script type="text/javascript" src="js/measurer.js"></script>
    <script type="text/javascript" src="js/paginator3000.js"></script>
    <script type="text/javascript" src="js/jquery.stickr.min.js" ></script>
