<!DOCTYPE HTML>
<html>
<head>
    {% include 'header.twig' %}
</head>
<body>
<div id="wrapper-general-for-content">
    <!--Начало Фиксированного плеера-->
    {% include 'player.twig' %}
    <!--Конец Фиксированного плеера-->
    <!--Начало основного содержимого-->
    <div class="min-max-div" id="wrapper-table-main">
        <table cellpadding="0" cellspacing="0" border="0" class="wrapper-table">
            <tr>
                <td class="p2"></td>
                <td>
                    <table cellpadding="0" cellspacing="0" border="0" class="wrapper-table">
                        <tr>
                            <!--Начало левой колонки основного содержимого-->
                            <td class="p43">
                                <div id="cetegories">
                                    {% include 'categories.twig' %}
                                </div>
                                <div id="left-column">
                                </div>
                            </td>
                            <!--Конец левой колонки основного содержимого-->
                            <td class="p7"></td>
                            <!--Начало средней колонки основного содержимого-->
                            <td class="p43 wrapper-playlist">
                                <div id="center-column">
                                    Наш сервис представляет собой mp3 прямо в браузере. Здесь так же как и в обычном mp3 плеере есть
                                    <ul><li>Возможность послушать музыку в формате mp3 онлайн</li>
                                    <li>Сохранить понравившиеся песни в плейлист</li>
                                    <li>Найти композицию через поиск</li>
                                    <li>Создавать несколько плейлистов</li>
                                    <li>Играть песни в произвольном порядке</li>
                                    <li>Скачивать песни к себе на компьютер</li>
                                    <li>Получить доступ к своим плейлистам из любой точки мира</li></ul>
                                </div>
                            </td>
                            <!--Конец средней колонки основного содержимого-->
                            <td class="p7"></td>
                        </tr>
                    </table>
                </td>
                <!--Начало блоков правой панели-->
                <td class="px216" id="for-px216-main">
                    <!--Начало Зарегестрируйтесь или войдите-->
                    <div id="registration">
                    </div>
                    <!--Конец Зарегестрируйтесь или войдите-->
                    <!--Начало Имя пользователя и плейлисты-->
                    <div id="user">
                    </div>
                    <!--Конец Имя пользователя и плейлисты-->
                    <!--Начало Рекомендуем плейлисты-->
                    <div id="recommend">
                    </div>
                    <!--Конец Рекомендуем плейлисты-->
                    <!--Начало Имя исполнителя, альбом и лучшие песни-->
                    <div id="about-artist">
                    </div>
                    <!--Конец Имя исполнителя, альбом и лучшие песни-->
                    <!--Начало 5-ка похожих-->
                    <div id="five-simular">

                    </div>
                    <!--Конец 5-ка похожих-->
                </td>
                <!--Конец контролов для правой панели-->
                <td class="p2"></td>
            </tr>
        </table>
    </div>
    <!--Конец основного содержимого-->
</div>
<!--Начало подвала-->
{% include 'footer.twig' %}
<!--Конец подвала-->
<!-- Yandex.Metrika counter --><script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter15208930 = new Ya.Metrika({id:15208930, enableAll: true, webvisor:true}); } catch(e) {} }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/15208930" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->
{% include 'script.twig' %}
</body>
</html>