<p class="header-right-block">Рекомендуем</p>
<p class="my-playlist-recommend"><span>Классика 90-х</span></p>
<p class="my-playlist-recommend"><span>Нулевые</span></p>
<p class="my-playlist-recommend"><span>Про любовь</span></p>
<p class="my-playlist-recommend"><span>На всех школьных вечеринках</span></p>