<td id="for-search-input">


        <input type="text" id="search-input" name="search-input" onkeydown="if(event.keyCode==13){ search(); return false;}">

    <div id="div-last-search"></div>
</td>
<td><div class="btn" id="search-in-vk">Найти</div></td>