<p class="header-right-block">5-ка похожих</p>
<p class="artist-s-best-song"><span>Kylie Minogue</span></p>
<p class="artist-s-best-song"><span>Janet Jackson</span></p>
<p class="artist-s-best-song"><span>Cher</span></p>
<p class="artist-s-best-song"><span>Britney Spears</span></p>
<p class="artist-s-best-song"><span>Gwрen Stefani</span></p>