
<div id="uploadform">

    <div id="upload">Загрузить?</div>
            <!-- Upload Button-->
    <span id="status" ></span>
    <!--List Files-->
    <ul id="files" ></ul>
</div>

<div id="list">

</div>
<input type="hidden" name="filename" id="filename" value="">
